---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Goodnight Trail - About";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>all about Goodnight Trail</h2>

  <p>This page contains information about our van travels.</p>
</BaseLayout>
