---
import Social from "./Social.astro";
---

<footer>
  <p>
    Check us out on <Social platform='instagram' username='h4pygrl' />
    and <Social platform='twitter' username='h4pygrl' />
  </p>
</footer>
